## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [12]:
sample_list_1 = random.sample(range(100),k=80)
print(sample_list_1)

[16, 60, 76, 99, 93, 28, 56, 90, 41, 7, 26, 69, 14, 25, 87, 68, 77, 17, 29, 32, 74, 86, 9, 72, 73, 2, 71, 35, 52, 75, 91, 62, 10, 84, 37, 12, 82, 96, 49, 33, 97, 94, 4, 46, 65, 38, 57, 8, 58, 42, 78, 24, 5, 85, 1, 55, 83, 92, 50, 81, 21, 88, 20, 79, 63, 45, 51, 61, 64, 39, 27, 36, 44, 53, 54, 59, 6, 31, 98, 11]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [13]:
# Your code here
set1 = sample_list_1
len(set(sample_list_1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [15]:
# Your code here
sample_list_2 = []

for i in range(80):
    sample_list_2.append(random.randint(0, 100))
print(sample_list_2)

[33, 51, 65, 90, 66, 36, 28, 12, 72, 79, 0, 19, 44, 1, 25, 87, 82, 75, 26, 38, 24, 73, 17, 26, 68, 94, 10, 96, 30, 75, 71, 50, 98, 22, 34, 39, 43, 68, 56, 53, 15, 98, 48, 16, 5, 69, 78, 41, 74, 71, 25, 73, 89, 32, 90, 49, 63, 78, 53, 34, 12, 88, 46, 83, 96, 3, 72, 4, 98, 23, 2, 51, 6, 14, 84, 88, 48, 59, 14, 82]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [16]:
# Your code here
set2 = sample_list_2
len(set(sample_list_2))

60

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [23]:
# Your code here
list3 = []
for i in set1:
    if i not in set2:
        list3.append(i)
set3 = list3
print(set3)

[60, 76, 99, 93, 7, 77, 29, 86, 9, 35, 52, 91, 62, 37, 97, 57, 8, 58, 42, 85, 55, 92, 81, 21, 20, 45, 61, 64, 27, 54, 31, 11]

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [24]:
# Your code here
list4 = []
for i in set2:
    if i not in set1:
        list4.append(i)
set4 = list4
print(set4)

[66, 0, 19, 30, 22, 34, 43, 15, 48, 89, 34, 3, 23, 48]

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [25]:
# Your code here
list5 = []
for i in set1:
    if i in set2:
        list5.append(i)
set5 = list5
print(set5)

[16, 28, 56, 90, 41, 26, 69, 14, 25, 87, 68, 17, 32, 74, 72, 73, 2, 71, 75, 10, 84, 12, 82, 96, 49, 33, 94, 4, 46, 65, 38, 78, 24, 5, 1, 83, 50, 88, 79, 63, 51, 39, 36, 44, 53, 59, 6, 98]

#### (Optional) What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a formula to represent that relationship. Test your formula with Python code.

In [ ]:
# Your code here

#### Create an empty set called `set6`.

In [ ]:
# Your code here

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [ ]:
# Your code here

#### Check if `set1` and `set6` are equal.

In [ ]:
# Your code here

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [ ]:
# Your code here

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [ ]:
# Your code here

#### Using the `pop` method, remove an element from `set1`.

In [ ]:
# Your code here

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [ ]:
# Your code here